<template>
  <Layout>
    <h2 v-if="!photos.length" style="text-align:center">Gallery Categories</h2>
    <h2 v-else style="text-align:center">{{menu}} Photo Gallery</h2>
    <div class="container">
      <div class="menu">
        <ul>
          <li
            :class="isActive(item)"
            v-for="item in menus"
            :key="item"
            @click="getPhotos(item)"
          >{{item}}</li>
        </ul>
      </div>
      <app-photos v-if="photos.length" :photos="photos"></app-photos>
      <div class="no-content" v-else>
        <p>Select a category from the left to see images here.</p>
      </div>
    </div>
  </Layout>
</template>

<script>
import EventBus from "~/event-bus";
export default {
  metaInfo: {
    title: "Photo Gallery"
  },
  data() {
    return {
      menu: "",
      API_KEY: "da1f4499395bc09b579620a783802fbb",
      API_URL:
        "https://api.flickr.com/services/rest/?method=flickr.photos.search",
      menus: [
        "Cat",
        "Dog",
        "Flowers",
        "Trees",
        "Waterfall",
        "Volcanic",
        "Nebula",
        "Canyon",
        "Pokemon"
      ],
      photos: []
    };
  },
  methods: {
    async getPhotos(tag) {
      this.menu = tag;
      if (tag) {
        EventBus.$emit("clearPhotos", true);
        try {
          let response = await fetch(
            `${this.API_URL}&api_key=${this.API_KEY}&tags=${tag}&per_page=15&format=json&nojsoncallback=1`
          );
          let data = await response.json();
          if (data.stat == "ok") {
            data.photos.photo.forEach((item, i) => {
              data.photos.photo[
                i
              ].imageUrlq = `https://farm${item.farm}.staticflickr.com/${item.server}/${item.id}_${item.secret}_q.jpg`;
              data.photos.photo[
                i
              ].imageUrlc = `https://farm${item.farm}.staticflickr.com/${item.server}/${item.id}_${item.secret}_c.jpg`;
            });
            this.photos = data.photos.photo;
          } else {
            alert(data.message);
            throw new Error(data.message);
          }
        } catch (e) {
          alert(e);
          throw new Error(e);
        }
      }
    },
    isActive(menu) {
      if (menu === this.menu) return "menu-active";
    }
  },
  components: {
    appPhotos: () => import("~/components/Photos.vue")
  }
};
</script>

<style lang="scss">
.container {
  margin: auto;
  border: #fff solid 5px;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  img {
    width: 100%;
    max-height: 100%;
    border-radius: 3%;
  }
}
.img-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  padding: 10px;
  border: thin solid rgba(0, 0, 0, 0.12);
  @media only screen and (min-width: 750px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media only screen and (min-width: 970px) {
    grid-template-columns: repeat(5, 1fr);
  }
  img {
    cursor: pointer;
  }
}
.menu {
  border: thin solid rgba(0, 0, 0, 0.12);
  ul {
    list-style-type: none;
    padding-inline-start: 0;
    li {
      padding: 5px 0 5px 0;
      margin: 10px;
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
      text-align: center;
      white-space: nowrap;
      border: 1px solid transparent;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: #DFEDF4;
      
      }
    }
  }
  &-active {
    font-weight: 500;
    background-color: #DFEDF4;
  }
}
.no-content {
  width: 100%;
  min-height: 100%;
  padding: 10px;
  border: thin solid rgba(0, 0, 0, 0.12);
  p {
    text-align: center;
  }
}
</style>
