 <template>
  <div :class="{'img-grid':!isDetail,'img-detail':isDetail}">
    <app-photo
      v-show="!isDetail"
      :showDetail="showDetail"
      :photo="photo"
      v-for="photo in photos"
      :key="photo.id"
    ></app-photo>
    <div v-show="isDetail" class="container">
      <img :src="photoDetail.imageUrlc" alt />
    </div>
    <div v-show="isDetail">
      <div class="img-title">
        <p>Image Details</p>
        <button @click="isDetail = !isDetail">
          <i class="arrow" />
        </button>
      </div>
      <hr class="divider" />

      <p>{{photoDetail.title}}</p>
    </div>
  </div>
</template>
 
 <script>
import EventBus from "~/event-bus.js";
export default {
  data() {
    return {
      isDetail: false,
      photoDetail: {}
    };
  },
  mounted() {
    EventBus.$on("clearPhotos", isDetail => {
      this.isDetail = false;
    });
  },
  methods: {
    showDetail(img) {
      this.isDetail = !this.isDetail;
      this.photoDetail = img;
    }
  },
  props: {
    photos: {
      Type: Array,
      reqired: true
    }
  },
  components: {
    appPhoto: () => import("~/components/Photo.vue")
  }
};
</script>
 
 <style scoped lang="scss">
.container {
  display: flex;
  max-height: 100%;
}
.img-detail {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 5px;
  object-fit: cover;
  padding: 10px;
  width: 100%;
  border: thin solid rgba(0, 0, 0, 0.12);
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    display: block;
  }
  img {
    min-width: 100% !important;
  }
}

.img-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 20px;
  }
  button {
    width: 20%;
    height: 2em;
  }
}
button {
  cursor: pointer;
  background: transparent;
  border: thin solid rgba(0, 0, 0, 0.12);
  &:active {
    background-color: #dfedf4;
  }
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.divider {
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: solid;
  border-width: thin 0 0;
  transition: inherit;
  border-color: rgba(0, 0, 0, 0.12);
}
</style>