<template>
  <img @click="showDetail(photo)" :src="photo.imageUrlq" :alt="photo.title" @error="imageLoadError" />
</template>

<script>
export default {
  data() {
    return {
      isDetail: false
    };
  },
  methods: {
    imageLoadError() {
      this.photo.imageUrlq = require("../../static/noimage.png");
      this.photo.imageUrlc = require("../../static/noimage.png");
      this.photo.title = "Sorry, this photo is unavailable";
    }
  },
  props: {
    photo: {
      Type: Object,
      required: true
    },
    showDetail: {
      Type: Function
    }
  }
};
</script>

<style>
</style>